{% extends 'app/base.html' %}

<!--USER DASHBOARD-->

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Hello {{ user.account.name }}</h1>
      <p>Token balance: <strong>{{ user.account.balance }}</strong></p>
      <p>Email: {{ user.email }}</p>

      <h1>My Jobs</h1>

      {% for job in my_jobs  %}

        <div class="job">
          <h3>{{ job.title }}</h3>
          <p>
            <strong>{{ job.description   }}</strong> </br>
            Source language: {{ job.source_lang   }}; 
            Target language: {{ job.target_lang   }}
          </p>
          <p>{{ job.field   }}</p>
          <p>{{ job.budget   }}</p>
          <p>{{ job.status   }}</p>

          <div>
          {% for bid in job.bid_set.all  %}
            <div class="bid {% if bid.accepted %} accepted {% endif %}">
              <h3>
                Bidder: 
                <a href="{% url 'accounts:profile' bid.bidder.id %}">
                  {{ bid.bidder.account.name }}
                </a>
              </h3>
              <p>
                <strong>Price: {{ bid.price }}</strong>, 
                Accepted: {{ bid.accepted }}
              </p>
              {% if not bid.accepted and job.is_available %}
                <!--check models.py for the is_available method-->
                <p>
                  <form action="{% url 'app:accept_bid' bid.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Accept bid">
                  </form>
                </p>
              {% endif %}
            </div>
          {% endfor %}
          </div>

          </div>
      {% endfor %}

    </div>
    <div class="col-md-3">
      <h1>Messages</h1>
      <div class="messages">
        {% for message in my_messages %}
          <div class="message {% if user == message.sender %} my-message {% else %} their-message {% endif %}">
            {% if user != message.sender  %}
              <strong> From: 
                <a href="{% url 'accounts:profile' message.sender.id %}">
                  {{ message.sender.account.name }}
                </a>
              </strong> </br>
            {% endif %}
            <small>{{ message.sent_at }}</small>
            <p>{{ message.text }}</p>
          </div>
        {% endfor %}


      </div>
    </div>
    
  </div>
  
</div>

{% endblock content %}
