{% extends 'app/base.html' %}

<!--USER PROFILE -->

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ profile_user.account.name }}'s profile page</h1>
      {% if user.account.translator %}
        <h2>Translator - Rating: {{ profile_user.account.rating }}</h2>
      {% endif %}
      <p>Email: {{ profile_user.email }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>User's accepted jobs</h1>
      {% for job in accepted_jobs  %}

        <div class="job">
          <h3>{{ job.title }}</h3>
          <p>
            <strong>{{ job.description   }}</strong> </br>
            Source language: {{ job.source_lang   }}; 
            Target language: {{ job.target_lang   }}
          </p>
          <p>{{ job.field   }}</p>
          <p>{{ job.budget   }}</p>
          <p>{{ job.status   }}</p>

          <p>
            <strong>
              {{ job.accepted_bidder.name }} was accepted for this job with the 
              bid of {{ job.accepted_bid.price }}
            </strong>
          </p>

        </div>
      {% empty %}
        <p>No accepted jobs</p>
      {% endfor %}

    </div>
    <div class="col-md-12">
      <h1>User's completed jobs</h1>
      {% for job in completed_jobs  %}

        <div class="job">
          <h3>{{ job.title }}</h3>
          <p>
            <strong>{{ job.description   }}</strong> </br>
            Source language: {{ job.source_lang   }}; 
            Target language: {{ job.target_lang   }}
          </p>
          <p>{{ job.field   }}</p>
          <p>{{ job.budget   }}</p>
          <p>{{ job.status   }}</p>

          <p>
            <strong>
              {{ job.accepted_bidder.name }} has completed this job for the 
              price of {{ job.accepted_bid.price }}
            </strong>
          </p>

        </div>
      {% empty %}
        <p>No completed jobs</p>
      {% endfor %}

    </div>
    {% if user.account.translator %}
      <div class="col-md-12">
        <h1>Translator's stats</h1>
        <h2>User's bids</h2>
        {% for bid in bids  %}
          <h3>Bid on {{ bid.job.title }} for {{ bid.price }} tokens</h3>
          {% if bid.accepted %}
            <p class="won-job">Won the job!</p>
          {% else %}
            <p class="lost-job">Someone else was cheaper :(</p>
          {% endif %}

        {% empty %}
          <p>No bids on any jobs</p>
        {% endfor %}

        <h2>Won jobs - currently working on:</h2>
        {% for bid in won  %}
          <h3>{{ bid.job.title }} for {{ bid.price }} tokens</h3>
          <p>Translating from 
            {{ bid.job.get_source_lang_display }} to 
            {{ bid.job.get_target_lang_display }} a text 
            in the field of {{ bid.job.get_field_display }}.
          </p>
          <p>Job posted by <a href="{% url "accounts:profile" bid.job.user.id %}">{{ bid.job.user.account.name }}</a></p>

        {% empty %}
          <p>Didn't win any jobs!</p>
        {% endfor %}



      </div>
    {% endif %}
  </div>
  
</div>

{% endblock content %}
