{% extends 'app/base.html' %}
{% block content %}

<div class"container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ image.title }}</h1>
            <div>
                <p>Objavljeno: {{ image.pub_date }}</p>
                <img src="{{ image.url }}" class="full-width">
            </div>
        </div>
        <div class="col-md-6">
            <h1>Komentari</h1> 
            {% for comment in comments %}
                <p class="comment">
                    <strong>{{comment.nick}}</strong>
                    ( {{ comment.pub_date }} ) <br/>
                    {{ comment.text }}
                    {% if not comment.approved %}
                        <br>
                        <span class="red" style="color: red">
                            <form action="{% url 'app:approve_comment' comment.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Approve" >
                            </form>
                        </span>
                    {% endif %}
                </p>
            {% endfor %}
            <form action="{% url 'app:post_comment' image.id %} " method="post">
                {% csrf_token %}
                <p>
                    <label for="comment_nick">Nick</label>
                    <input id="comment_nick" name="nick" type="text">
                </p>

                <p>
                    <label for="comment_text">Text</label>
                    <input id="comment_text" name="text" type="text">
                </p>

                <input type="submit">
            </form>
        </div>     
    </div>
</div>

{% endblock %}
